<html>
    <head>
        <title>CITA</title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <body>
        <div class="searchContainer" ng-app="search_module" ng-controller="searchCtrl" ng-init="search_option=1" ng-init="keyword_option=1">
        <form name="search" class="css-form" novalidate>
            <h1>CITA</h1>
            <input type="text" ng-model="search.search_text" ng-name="content" required/>
            <input type="button" ng-click="get_result()" value="CITA Search"/>
            <br/>
            Search option:
            <input type="radio" ng-model="search.search_option" value="1"/> Search Professor
            <input type="radio" ng-model="search.search_option" value="2"/> Search paper
            <br/>
            Keyword settings:
                <select ng-show="search.search_option==1" ng-model="search.keyword_option">
                    <option value="1"/>Professor name
                    <option value="2"/>Focus area
                </select>
                <select ng-show="search.search_option==2" ng-model="search.keyword_option">
                    <option value="1"/>Title
                    <option value="2"/>Area
                </select>
            <br/>
        </form>
        <br/>
        <input type="button" value="Log in"/>
        <input type="button" value="Sign up"/>
        </div>
    </body>
</html>



<script>
    var app=angular.module("search_module", []);
    app.controller('searchCtrl', function($http, $scope){
        $scope.search={
            //1 means search professor, 2 means search paper
            "search_option": "1",
            //1 means 1st item, 2 means second item
            "keyword_option": "1",
            "search_text": ""
        };
        
        $scope.get_result=function(){
             $http.put('http://localhost:8000/data/get', $scope.search).then(
            //search success
            function(response){
              if (response.data.result == 'success'){
                  console.log(response.data);
              }else {
                alert(response.data.reason);
              }
            },
            //search fail
            function(){
              console.log("send failure");
            }
            );
}
    
    });
    
    

</script>